<a href="https://colab.research.google.com/github/Amirbinirfan/Python/blob/master/Day_9_(10_07_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data structures

### Dictionary
* It works on the set concept of Unique Data
* Keys,Values is the unique identifier for a value
* Each key is separated from its values with colon(:)
* Each key value is separated by comma (,)
* Dictionaries are enclosed by curly braces{}

In [0]:
d1 = {"name":"Gitam","Email ID":"gitam@gmail.com","Address":"HYDERABAD"}
print(d1)

{'name': 'Gitam', 'Email ID': 'gitam@gmail.com', 'Address': 'HYDERABAD'}

In [0]:
d1["name"]

'Gitam'

In [0]:
d1 ["name"] = 'nitin'

In [0]:
d1["name"]

'Gitam'

### Tuples
* t1 parenthesis () li square bracket []
* Difference between list and tuples
     * lists are mutable i.e. can be changed/modified
         * Used to access modify, add, delete data

In [0]:
t1 = [1,2,3,4,5]
t1
type(t1)

list

In [0]:
d1[]

AttributeError: 'dict' object has no attribute 'key'

 # Contact Applications
 * Add contact
 * Search contacts
 * Listing contacts
 * Modify contact
 * Remove contact
 * Import contact

In [0]:
# add contact
contacts = {}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("Contact details are added")
    else:
        print("contact already exists")
    return
addcontact('nit','4844521662')
addcontact('niit','4844521661')
addcontact('nit','4844521662')

Contact details are added
Contact details are added
contact already exists

In [0]:
# Search contacts
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exist" % name)
    return
searchcontact('nit')
searchcontact('nwrefn')

nit : 4844521662
nwrefn does not exist

In [0]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"does'nt exist")
    return
deletecontact('niit')

niit deleted successfully

In [0]:
# To print fibonacci numbers in reverse order with input as 5
def reverseFibonacci(n): 
   
    a = [0] * n  
  
    # assigning first and second elements 
    a[0] = 0 
    a[1] = 1 
  
    for i in range(2, n):   
  
        # storing sum in the 
        # preceding location 
        a[i] = a[i - 2] + a[i - 1]  
       
  
    for i in range(n - 1, -1 , -1):   
  
        # printing array in 
        # reverse order 
        print(a[i],end=" ")  
       
   
  
# Driver function 
n = 5
reverseFibonacci(n)

3 2 1 1 0

In [0]:
# To print fibonacci numbers in reverse order with input as 12
def reverseFibonacci(n): 
   
    a = [0] * n  
  
    # assigning first and second elements 
    a[0] = 0 
    a[1] = 1 
  
    for i in range(2, n):   
  
        # storing sum in the 
        # preceding location 
        a[i] = a[i - 2] + a[i - 1]  
       
  
    for i in range(n - 1, -1 , -1):   
  
        # printing array in 
        # reverse order 
        print(a[i],end=" ")  
       
   
  
# Driver function 
n = 12
reverseFibonacci(n)

89 55 34 21 13 8 5 3 2 1 1 0

In [0]:
li = ['gitam','college','university']
li.count(1)

0

In [0]:
int = 5
print type(type(int))

SyntaxError: invalid syntax (<ipython-input-3-0621b7799b45>, line 2)

In [0]:
list1 = [1,2,3,4,5]
list2 = [1,2]
print(list(set(list1)-set(list2)))

[3, 4, 5]

# String Formatting
* Classic version
* Current version

In [0]:
# Classical version
li = ["Python","Programming"]
print("%s %s" % (li[0],li[1]))

Python Programming

In [0]:
print("{0} {1}".format(li[0],li[1]))

Python Programming

In [0]:
li = [1,2,3,4]
print("%d%d%d%d"%(li[0],li[1],li[2],li[3]))

1234

# Boolean Function
 * islower() - True if the string is lower case/False if the string is not in lower case
 * isupper() - True if the string is upper case/False if the string is not in upper case
 * istitle() - If the string follows title case
 * isalpha() - If the string is having alphabet
 * isnumeric() - if the string has numbers
 * isspace() - if the string has spaces

In [0]:
s1 = 'Gitam'
print(s1.islower())
print(s1.isupper())

False
False

In [0]:
s2 = "application889"
s3 = "pythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

### String Method
   * 1 .join() -- Method will concatinate the two strings
   * 2 .split() -- returns the set of strings with blankspaces
   * 3

In [0]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [0]:
s2 = "Python Programming Easy to learn"
print(" ".join(s2))

P y t h o n   P r o g r a m m i n g   E a s y   t o   l e a r n

In [0]:
li = ['Python','Programming','Learn']
print(",".join(li))

Python,Programming,Learn

In [0]:
s2 = "Python Programming Easy to learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'learn']

In [0]:
s2 = "Python Programming Easy to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']